# Environments
.venv

# VSCode

.vscode

# References
.docs

# Jupyter Notebook checkpoints
.ipynb_checkpoints

Python Cache
__pycache__/
*.py[cod]

# Data file
data/raw/
*.txt
*.csv
*.parquet
*.dat
*.hdf5
*.h5

# VS Code settings