# Data Processing
numpy
pandas
scipy
matplotlib
typing
pathlib
math
branca
seaborn

# Advanced Modeling & Optimization
jax
jaxlib
casadi
numba
sklearn
numpyro

# Notebook Support
ipykernel

# Plot vessel routes
folium