# MARINER WP9 - Core Dependencies

# Data Processing & Analytics
numpy
pandas
scipy
rainflow
lxml
openpyxl

# Visualization & Mapping
matplotlib
plotly
folium
branca
nbformat>=4.2.0

# Interactive Environment (Jupyter)
ipykernel
ipython

# Dataset labeling
streamlit
streamlit-folium